Add more parameters to the create functions for Request and Reponses

Im very sorry if this topic has been discussed before. If so, please give me a link to that discussion. 

Looking at our current request factory it has a signature like: 
```php
public function createRequest($method, $uri);
```
So if I want to create a PSR-7 request: 

```php
$factory = new RequestFactory();
$request = $factory->createRequest('POST', 'http://foo.com/bar');
$request = $request->withProtocolVersion('1.1');
$request = $request->withHeader('Content-Type', 'text/html');
$request = $request->withHeader('Host', 'foo.com');
$request = $request->withHeader('Connection', 'keep-alive');
$request = $request->withHeader('User-Agent', 'test/app');
$request = $request->withHeader('Content-Length', '6');

$stream = (new StreamFactory())-> createStream('foobar');
$request = $request->withBody($stream);
```

As one can see this is quite a lot of work for just instantiating a Request. What if the Request/Response factory accept headers, body and possible protocol version as arguments. A specific factory implementation could use the logic above when it is necessary? 

FYI it will not be necessary for  [Guzzle](https://github.com/guzzle/psr7/blob/master/src/Request.php#L32), [Diactoros](https://github.com/zendframework/zend-diactoros/blob/master/src/Request.php#L33) nor [Slim](https://github.com/slimphp/Slim/blob/30cfe3c07dac28ec1129c0577e64b90ba11a54c4/Slim/Http/Request.php#L170-L178).


I suggest:
```php
public function createRequest($method, $uri, array $headers = [], $body = null,  $protocolVersion = '1.1');

public function createResponse($statusCode = 200,  $reasonPhrase = null, array $headers = [], $body = null, $protocolVersion = '1.1');
```

That would make the request above look like: 
```php
$factory = new RequestFactory();
$request = $factory->createRequest(
  'POST', 
  'http://foo.com/bar',
  ['Content-Type' => 'text/html', 'Host' => 'foo.com', 'Connection' => 'keep-alive', 'User-Agent' => 'test/app', 'Content-Length' => '6'],
  'foobar'
);
```

What do you think about that?

@Nyholm good call.

I was looking searching and noticed this : https://groups.google.com/d/msg/php-fig/piRtB2Z-AZs/8UIwY1RtDgAJ 

Also there is another interesting discussion which was done few years back : https://groups.google.com/d/msg/php-fig/kFEhviETdGM/0qXniQA4WcIJ 

You can see that thread is long, but have some good points we need to look again.


Thank you for the references. After reading those I understand that the `createRequest` function takes the minimum set of arguments to create a valid Request. After the request is build it is more clear (easy to read/understand) to use the `with*` functions to build the desired request. 

I can understand that logic but I do also understand the people that oppose that. What if the factory did not force one way or the other? Ie having more arguments but make them optional. 


@Nyholm through discussions on the FIG ML and on Github it was determined that having optional parameters makes the factories too difficult to use and offers little benefit in usability. The existing PSR-7 interfaces make it easy to modify (evolve) the created object. Thus:

``` php
$request = $requestFactory->createRequest('POST', 'http://example.org')
    ->withHeader('Content-Type', 'text/html')
    ->withHeader('Host', 'foo.com')
    ->withHeader('Connection', 'keep-alive')
    ->withHeader('User-Agent', 'test/app')
    ->withBody(
        $streamFactory->createStream('foobar')
    );
```

Obviously this is much more verbose. It is also easier to modify and easier to reason about for the next person that comes across it. Having optional parameters encourages things like:

``` php
$request = $requestFactory->createRequest('POST', 'http://example.org', null, null, '1.1');
```

This is not at all clear what the `null` parameters represent. At best, it will increase cognitive load (remembering the parameter order) and at worst will require the developer to go look up the signature.


I forgot to mention, in the case of `$body` being included in request/response signature, it forces coupling between the request/response factory and the stream factory, which makes it harder to document proper implementation and violates separation of concerns.

It would be a fair criticism to say that request factory is already coupled to URI factory when passing a string. However, the request **requires** a URI to be valid and so the coupling is necessary. A body is **not** required for every request.


I very much agree that code like 

``` php
$request = $requestFactory->createRequest('POST', 'http://example.org', [], null, '1.1');
```

is not optimal. And I agree with your design arguments. But I want to make an argument for DX. I fear that someone would argue why they need a RequestFactory when: 

``` php
$request = $requestFactory->createRequest('POST', 'http://example.org')
    ->withHeader('Content-Type', 'text/html')
    ->withHeader('Host', 'foo.com')
    ->withHeader('Connection', 'keep-alive')
    ->withHeader('User-Agent', 'test/app')
    ->withBody(
        $streamFactory->createStream('foobar')
    );

// Is same as 
$request = new GuzzleRequest('POST', 'http://example.org', $headers, 'foobar');
```

It could be a hinder for adapting PSR-17. 

> I forgot to mention, in the case of $body being included in request/response signature, it forces coupling between the request/response factory and the stream factory, which makes it harder to document proper implementation and violates separation of concerns.

Hm.. I do not think it really does. Or not on a interface level but it may in the implementation. 
See php-http's [Guzzle factory](https://github.com/php-http/message/blob/master/src/MessageFactory/GuzzleMessageFactory.php) there is no violation of SRP in that implementation. But it is in the [Diactoros factory](https://github.com/php-http/message/blob/master/src/MessageFactory/DiactorosMessageFactory.php). 


> I fear that someone would argue why they need a RequestFactory when: [snip]

Possibly, but I'm not convinced by this argument. The target market for PSR-17 is primarily library authors and it would be rare to see so much being done on object creation in a middleware/library.

As a side note, I really wish that PSR-7 defined a `withHeaders()` method. Having it would greatly reduce the verbosity of the PSR-17 example.

> Or not on a interface level but it may in the implementation.

Exactly my concern. The constructors of PSR-7 interfaces are not defined and so there is no way to know wether or not SRP will be violated. Hence I believe taking the minimum viable arguments approach.


After my thought about `withHeaders` I had to go search the FIG ML to see why that decision was made. tl;dr version:

> Having `withHeaders()` is ambiguous. Should it clear existing headers? Skip existing headers? Replace them? Only add headers not defined? Using `withHeader()` is not ambiguous.


> Possibly, but I'm not convinced by this argument.

I do not believe that this is a good argument myself. I am just looking for potential arguments when I try to make PRs to use PSR-17 in other libraries. 

> As a side note, I really wish that PSR-7 defined a withHeaders() method. Having it would greatly reduce the verbosity of the PSR-17 example.

Yeah =) So do I

> Exactly my concern. 

Should this be our concern? We are doing the interfaces.


> Should this be our concern? We are doing the interfaces.

Thinking about the implementation risks is part of quality design. Keeping the interfaces as small as possible makes it (generally) easier to implement, document, and use. To also reduces the possibility for conflicts, where one implementation of PSR-7 includes functionality not present in other implementations, forcing changes that should not otherwise be made.


Okey, fair. Thank you. 

To reduce coupling between factories one could: 

``` php
public function createRequest(
  $method, 
  $uri, 
  array $headers = [], 
  StreamInterface $body = null,  // <-----
  $protocolVersion = '1.1'
);
```

But that would raise questions why we not doing:

``` php
public function createRequest(
  $method, 
  UrlInterface $uri,  // <-----
  array $headers = [], 
  StreamInterface $body = null, 
  $protocolVersion = '1.1'
);
```


Browsing through my PRs for HTTPlug to see how they would change with PSR-17 I see that they will not be very different. I usually only use method and URI. You are correct, adding headers is mostly done with middlewares. 

---

I want to challenge the current implementation with another argument. I know this was mentioned in the ML but there was no clear conclusion (as far as I see). 

When I do: 

``` php
$request = $factory->createRequest('GET', 'http://foo.com');
```

what will `$request` be? IE what protocol version is used? If we do not specify the protocol version as an argument we have to make sure the factory implementation comply with liskov substitution principle by very clear documentation. Aslo, we have to make a decision of the default protocol. 


The Message interface is based on RFC7230 and RFC7231. In RFC7230 it is written that the default is `1.1`. See [RFC7320](https://tools.ietf.org/html/rfc7230#section-2.6)

>  HTTP uses a "<major>.<minor>" numbering scheme to indicate versions
>    of the protocol.  This specification defines version "1.1". 

So unless specified, the default protocol version is `1.1`


> As one can see this is quite a lot of work for just instantiating a Request.

I disagree - it's not much work at all. And you're not going to be writing code that creates requests all day long, so we have higher objectives than sheer brevity.

> What if the Request/Response factory accept headers, body and possible protocol version as arguments

You're making assumptions about what may or may not be useful, in what order, and so forth.

What's worse, you're also redefining an alternative to an existing API - so now you have two ways to initialize headers, say, which leads to inconsistent code, clumsy refactoring, and so forth. You also have the burden of specifying, creating and maintaining duplicate initialization code.

I like the current interface, exactly as-is, because it makes no assumptions, and doesn't duplicate anything from the existing API, beyond the method and URL, which are present in the factory method signature not for _utility_, but because those are the two values required to initialize a _valid_ request object, and because you can't establish any meaningful defaults for those.

In many cases, all you need to create and make a request is method and URL. Anything beyond that is already covered by PSR-7.


Thank you @nyamsprod!

> What's worse, you're also redefining an alternative to an existing API

Yes, @mindplay-dk, that is the point of a factory, isn't it? If we should not have an alternative way of defining properties for an object during it's creation, then the PSR-7 would include an definition for a constructor with no arguments. 

Anyhow. This issue should be closed (Thank you Woody). I've tried to challenge different aspects of this and your arguments for keeping it the way it are valid. Thank you!


> that is the point of a factory, isn't it?

Yes, but the `with*()` methods of PSR-7 _are_ factory methods.

Immutables are essentially models and factories at the same time, so What we're defining here is a factory for objects that are themselves factories.

> If we should not have an alternative way of defining properties for an object during it's creation, then the PSR-7 would include an definition for a constructor with no arguments.

You are partially right, but you seem to be overlooking an important fact: a constructor with no arguments would generate objects with an undefined or invalid state; essentially invalid objects, which would falsely pass a type-check, even though they don't fulfill the requirements for such a type.

The real reason factories need any arguments at all, are due to the fact that some properties have no meaningful default value.

Methods such as `getMethod()` or `getUri()`, of an object generated by a factory with no arguments, would have to throw exceptions if those properties have no values, because we can't establish any meaningful default.

The point of our factory is not to provide convenience by redefining an already-existing factory, but to provide interoperability, while encouraging as-little overlap and duplication as possible, for the purpose of achieving consistency in client code, and avoiding duplication in library code.


> You are partially right, but you seem to be overlooking an important fact: a constructor with no arguments would generate objects with an undefined or invalid state; essentially invalid objects, which would falsely pass a type-check, even though they don't fulfill the requirements for such a type.

Yes of course, Say that PSR-7 included a constructor with method and URI then. 

> The point of our factory is not to provide convenience by redefining an already-existing factory, but to provide interoperability, while encouraging as-little overlap and duplication as possible, for the purpose of achieving consistency in client code, and avoiding duplication in library code.

Agreed, and more important: To decouple libraries from a PSR-7 implementation which complies with dependency inversion principle. 


> Yes of course, Say that PSR-7 included a constructor with method and URI then

Constructors in interface are meaningless, as they're not part of the public interface of the resulting objects. They're in other words not part of the interface at all, which is why other languages do not allow constructors in interfaces - they're at best a contract stating how the constructor should be implemented, or at worst a dynamic hocus-pocus substitute for actual factories ;-)
